body {
	font-family: 'Roboto Mono', monospace;
	margin:0;
}

p {
	
	width: 100%;
	margin-left: 0 auto;
	padding: 5px 5px 5px 0;
}

h2, h3{	
	font-weight: 500;
	color:rgb(66 53 16);
	margin-left: 15px;
}

p {
	color:white;
}

h3 {
	color:rgb(152,38,114);
}

.bamf-imgdiv>img {
	width: 100%
}

.bamf-card {
	/*width:300px;*/
	flex-basis: 280px;
	max-width:300px;
	background: rgb(238,174,202);
	background: linear-gradient(233deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	margin: 0;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 20px 0px rgb(204 151 151 / 37%);


}

.bamf-cardboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.bamf-cardboard>h2 {
	width: 100%;
	align-self: flex-start;
}


.bamf-purpleblock {
	background: rgb(238,174,202);
	background: linear-gradient(37deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.bamf-rowcontainer {
	padding:50px calc((100vw - 1140px) / 2);
}

.bamf-card>img {
	width:100%;
}

.bamf-button {
	background: rgba(238,174,202,1);
	padding:5px 20px;
	border-radius:5px;
	margin:10px;
	background: rgb(63,94,251);
/*    background: radial-gradient(circle, rgb(75 200 255 / 24%) 0%, rgb(252 70 126 / 54%) 100%);
*/  box-shadow:  5px 5px 20px 0px rgb(204 151 151 / 37%);
    display:inline-block;
    transition:0.5s;
    

}
a {
	text-decoration:none;
	color:rgb(64 64 64)
}

.bamf-button:hover {
	transition:0.5s;
	background: rgb(34,193,195);
/*	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
*/}







.bamf-rowboard {
	display: flex;
	flex-wrap: wrap-reverse;
}

.bamf-rowboard>div {
	flex-basis: 200px;
	flex-grow: 1;
	padding: 0 10px;
}

.bamf-rowboard>div>p {
	color: black
}




.bamf-formboard>form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.bamf-formboard>div{
	padding:0 20px;
	margin:10px;

}

.bamf-formboard input{
	width: 150px;
	height: 25px;
	border-radius: 5px;
/*	margin: 0 7px;
	padding: 7px;*/
}

/*.bamf-input-user::before {
	font-family: "FontAwesome";
	content: "\f007";
	position: absolute;
	font-size:100%;
	padding:6px 0 0 5px;
}*/


/*.bamf-input-mail::before {
	font-family: "FontAwesome";
	content: "\f0e0";
	position: absolute;
	font-size: 100%;
	padding:6px 0 0 5px;
}*/

.bamf-input-user>label {
	content: "Name";
	position: absolute;
	font-size:100%;
	padding:4px 0 0 20px;
}

.bamf-input-mail>label {
	content: "Mail";
	position: absolute;
	font-size:100%;
	padding:4px 0 0 25px;
	transition: 0.5s;
}


.bamf-label-up {
	margin-top: -60px;
    color: #fff;
    margin-top: -28px;
    font-size: 0.8em;
	font-weight: 600;
}



input {
	padding: 0 20px;
}


.bamf-formboard>form>a {

}
.bamf-label-up:after {
	content: ":";
}
@media all and (max-width: 920px){
.bamf-cardboard {
	justify-content: space-evenly;
}
.bamf-card {
	margin-bottom:15px
}

}